/**
 * タレントプール画面
 */
.p-tp__card {
  padding: 4px !important;
  margin-bottom: 4px !important;
}
.reaction-and-hirability {
  padding: 4px 0 4px 16px !important
}

.ls_scraped {
  background-color: coral !important;
}
.ls_checked {
  background-color: #808090 !important;
  color: #404040 !important;
}

//ブックマークボタン
.bookmark {
  position: absolute;
  top: 4em;
  right: 2em;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  background-color: #C06020;
  border: 1px solid #A04000;
  padding: 4px;
  &:hover {
    color: #fff;
  }
}

/**
 * プロフィールページ
 */
.p-candidate__head--summary {
    position: relative;

  // ブックマークボタン
  .bookmark {
    color: #fff;
    background-color: #FF8020;
    border: 1px solid #A04000;
    padding: 4px;
    &:hover {
      color: #fff;
      background-color: #FFA040;
      border: 1px solid #A04000;
    }
  }
}